 *{
     font-family: cursive;

 }

.navbar{
    background-color: #418b8b;
    padding: 15px;
    top: 0;
    font-size: 17px;

}
a{
    color: white;
    text-decoration: none; 
}
.navbar a{
    margin-left: 10px;
}
body{
    margin: 0;
}
.flotright{
    float: right;
}
.btn{
    padding: 3px 10px 5px 10px;
    border-radius: 10%;
}
.btn-primary{
    background-color: rgb(48, 48, 214);
}
.btn-warning{
    background-color: rgb(231, 228, 26);
    color: black;
}
body{
    margin: 0;
}
.topper{
    margin: 1px;
}
.row{
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
}
.col2{
    width: 50%;
}
.col3{
    width: 33%;
}
.col4{
    width: 25%;

}
.topper2{
    margin-top: 10px;
}
.card{
    border: 1px solid brown;
    padding: 10px;
    margin: 10px;
    margin-right: 5px;
   
}
.text-center{
    text-align: center;
}
.img-responsive{
    width: 100px;
}
img{
    width: 100%;
}
.card img{
    height: 100px;
    width: 100px;
    margin: auto;
}
.card{
    text-align: center;
}
.card a{
    color: aqua;
}

.card p{
    color: gray;
    text-align: justify;
}
.text.primary{
    color: rgb(79, 79, 245);
}

.text-white{
    color: white;
}

.text-justify{
    text-align: justify;
}
.footer{
    background-color: rgb(14, 15, 15);
    padding: 5px;
}
.p-4{
    padding: 25px;
}


.p-5{
    padding: 30px;
    color: white;
    background-color:darkolivegreen;
}
.p-1{
    padding: 5px;
}
.border{
    border: 2px solid gray;
    margin: 5px;
}
input{
    width: 250px;
    height: 20px;
}